body {
  background-color: #f4f0e1;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li, label {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
  margin-bottom: 20px;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
ul.header li a.active {
  background: gray;
}
.section {
  width: 100%;
  display: flex;
  align-items: center;
}
.halfsection {
  width: 50%;
  display: flex;
}
label {
  font-weight:bold;
  display: flex;
  flex-direction: column;
}

  .labelCell {
    flex: 0.10;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    flex-direction: column;
  }
    .smallLabelCell {
      flex: 0.1;
      display: flex;
      align-items: center; 
      justify-content: flex-start; /* Center the content horizontally */
}
.normalBodyCell {
  flex: 0.4;
  display: flex;
  align-items: center; 
  justify-content: flex-start; /* Center the content horizontally */
  
}

.smallBodyCell {
  flex: 0.1;
  display: flex;
  align-items: center; 
  justify-content: flex-start; /* Center the content horizontally */
  
}
.bodyCell {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
  }
.wideBodyCell {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
  }

  .section .thresholds{
    display: flex;
    flex-direction: row;
    padding:20px;
    flex:0.9;
  }
  .horizontal-slider {
  width: 100%;
  height: 45px;
  margin-top: 1vh;
}
  .thumb {
    cursor: pointer;
    position: relative;
    bottom: 7px;
    padding-left: 0;
    z-index: 100;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 2px solid #3774ff;
    border-radius: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
    font-size: 0.9em;
    text-align: center;
    box-sizing: border-box;
    
}


.mark {
  position: relative;
  width:1px;
  height:8px;
  top: 20px;
  background:#1b49b3;

}
.horizontal-slider .mark {
  margin: 0 calc(20px - 6px);
  bottom: calc(50% - 6px);
}
 .htrack{
  position: relative;
}

.single-htrack{
  position: relative;
  vertical-align: middle;
  background: #ddd;  
}
.single-htrack.single-htrack-0 {
  background: #83a9ff;
}

.horizontal-slider .single-htrack, .hue-track{
  top: 20px;
  height: 4px;
  margin: 0 calc(20px - 6px);
}

.disabled .thumb{
  background-color: rgb(196, 195, 195);
}
.disabled .single-htrack{
  background-color: rgb(196, 195, 195);
}

.htrack {
  position: relative;
  background: #ddd;
  height: 4px;
}
.htrack-1, .htrack-3,.htrack-5{
  background: #83a9ff;
}

button, input[type=button], input[type=submit], input[type=reset],  input[type=file]::file-selector-button {
  background-color: #0099FF;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button:active, input:active{
  background-color: #56bafd;
}
